{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col s8 offset-s2">

      <h1 class="center-align">Editer votre commentaire</h1>

      {{ form_start(edit_form) }}

      <div class="row">
        <div class="input-field col s12">
          {{form_widget(edit_form)}}
        </div>
      </div>

      <div class="row" style="text-align:center; margin-top:70px;">
        <button class="btn-floating btn-large waves-effect waves-light tooltipped" type="submit" data-position="bottom" data-delay="50" data-tooltip="Enregistrer">
          <i class="material-icons right">save</i>
        </button>
      </div>

      {{ form_end(edit_form) }}


      {{ form_start(delete_form) }}
      <div class="row" style="text-align:center; margin-top:70px;">
        <input class="btn-large waves-effect waves-light red" type="submit" value="Supprimer">
      </div>
      {{ form_end(delete_form) }}

    </div>
  </div>
</div>
{% endblock %}
