{% extends 'base.html.twig' %}

{% block body %}
<section id="commentaire">

  <h1 class="center-align">Commentaires</h1>


  <div class="container">
    <div class="row">

      <div class="col s5">

        <div class="collection">
          <a href="{{ path('commentaire_index')}}" class="collection-item">Tout</a>
          <a href="{{ path('commentaire_postes',{'id':user.id}) }}" class="collection-item">Postés</a>
          <a href="jaime/recus" class="collection-item">J'aime reçus</a>
          <a href="{#{ path('jaime_postes')}#}" class="collection-item active">J'aime postés</a>


        </div>
      </div>


      <div class="col s7">


        {% for commentaire in commentaires %}
        {% if loop.first %}
        {% for like in commentaire.like %}
        {% for test in like.commentairelike %}

        <article>
          <h3>
            {{test.article.titre}}
          </h3>
          <p>
            {{test.commentaire}}
          </p>
          <div class="right-align">

            <a href="{{ path('commentaire_show', { 'id': commentaire.id }) }}" class="btn">VOIR</a>
          </div>
        </article>


        {% endfor %}
        {% endfor %}
        {% endif %}
        {% endfor %}


      </div>
    </div>
  </div>


  <!-- <table>
  <thead>
  <tr>
  <th>Id</th>
  <th>Nom de l'article</th>
  <th>Commentaire</th>
  <th>Date</th>
  <th>Actions</th>
</tr>
</thead>
<tbody>
{% for commentaire in commentaires %}
<tr>
<td><a href="{{ path('commentaire_show', { 'id': commentaire.id }) }}">{{ commentaire.id }}</a></td>
<td>
{{commentaire.article.titre}}
</td>
<td>{{ commentaire.commentaire }}</td>
<td>{% if commentaire.date %}{{ commentaire.date|date('Y-m-d H:i:s') }}{% endif %}</td>
<td>
<ul>
<li>
<a href="{{ path('commentaire_show', { 'id': commentaire.id }) }}">show</a>
</li>
<li>
<a href="{{ path('commentaire_edit', { 'id': commentaire.id }) }}">edit</a>
</li>
</ul>
</td>
</tr>
{% endfor %}
</tbody>
</table>

<ul>
<li>
<a href="{{ path('commentaire_new') }}">Create a new entry</a>
</li>
</ul> -->
</section>

{% endblock %}
