{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="center-align">Commentaire</h1>

    <table>
        <tbody>
            <tr>
                <th>Commentaire</th>
                <td>{{ commentaire.commentaire }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if commentaire.date %}{{ commentaire.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
              {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('commentaire_index') }}">Back to the list</a>
            {% endif %}
        </li>
        <li>
            <a href="{{ path('commentaire_edit', { 'id': commentaire.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
