<!DOCTYPE html>
<html lang="fr-FR" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="En route vers la culture du numérique de l'Océan Indien">
  <meta name="author" content="Anais MARIMOUTOU , Ashvin PAINIAYE , David ATCHIAMAN , Faïza MOUNIR">
  <meta name="keywords" content="blog, digital, ocean indien" />
  {% block metaFacebook %}
  <meta property="og:url"           content="http://digital-oi.simplonreunion.co" />
  <meta property="og:type"          content="article" />
  <meta property="og:title"         content="Digital OI" />
  <meta property="og:description"   content="En route vers la culture du numérique de l'Océan Indien" />
  <meta property="og:site_name" content="Digital OI" />
  <meta property="og:locale" content="fr_FR" />
  {% endblock %}
  <title>{% block title %}Digital OI{% endblock %}</title>
  {% block stylesheets %}
  <link rel="stylesheet" href="{{asset('font-awesome/css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{asset('css/main.css')}}">
  <link rel="stylesheet" href="{{asset('https://fonts.googleapis.com/icon?family=Material+Icons')}}">
  {% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<!-- body -->
<body data-spy="scroll" data-target=".navbar-collapse-1" id="returnTop">

  <!-- DEBUT PRELOADER -->
  <div id="page-loader">
    <span class="page-loader-gif"></span>
  </div>
  <!-- FIN PRELOADER -->

  <!-- header -->
  {% block header %}
  <div class="container">
    <div class="row">
      <header>
        <div >
          <nav class="navbar-fixed">
            <ul class="center-align navCenter">
              {% block lienMenuNavigation %}
              {% if app.request.get('_route') == 'accueil' %}
              <li class="col s6"><a href="/" class="activeLien">ACCUEIL</a></li>
              {% elseif app.request.get('_route') == 'allArticle' %}
              <li class="col s6"><a href="/" class="activeLien">ACCUEIL</a></li>
              {% else %}
              <li class="col s6"><a href="/">ACCUEIL</a></li>
              {% endif %}
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

              {% if is_granted('ROLE_ADMIN') %}


              {% if app.request.get('_route') == 'fos_user_profile_show' %}
              <li class="col s6"><a class="dropdown-button activeLien" href="#!" data-activates="dropdown1">ADMINISTRATION</a></li>

              {% elseif app.request.get('_route') == 'fos_user_change_password' %}
              <li class="col s6"><a class="dropdown-button activeLien" href="#!" data-activates="dropdown1">ADMINISTRATION</a></li>

              {% elseif app.request.get('_route') == 'fos_user_profile_edit' %}
              <li class="col s6"><a class="dropdown-button activeLien" href="#!" data-activates="dropdown1">ADMINISTRATION</a></li>

              {% elseif app.request.get('_route') == '_manage' %}
              <li class="col s6"><a class="dropdown-button activeLien" href="#!" data-activates="dropdown1">ADMINISTRATION</a></li>

              {% elseif app.request.get('_route') == '_edit' %}
              <li class="col s6"><a class="dropdown-button activeLien" href="#!" data-activates="dropdown1">ADMINISTRATION</a></li>

              {% elseif app.request.get('_route') == 'blog__default_public' %}
              <li class="col s6"><a class="dropdown-button activeLien" href="#!" data-activates="dropdown1">ADMINISTRATION</a></li>

              {% elseif app.request.get('_route') == 'blog__default_brouillon' %}
              <li class="col s6"><a class="dropdown-button activeLien" href="#!" data-activates="dropdown1">ADMINISTRATION</a></li>

              {% elseif app.request.get('_route') == 'jaime_recu' %}
              <li class="col s6"><a class="dropdown-button activeLien" href="#!" data-activates="dropdown1">ADMINISTRATION</a></li>

              {% elseif app.request.get('_route') == 'commentaire_index' %}
              <li class="col s6"><a class="dropdown-button activeLien" href="#!" data-activates="dropdown1">ADMINISTRATION</a></li>

              {% elseif app.request.get('_route') == 'article_edit' %}
              <li class="col s6"><a class="dropdown-button activeLien" href="#!" data-activates="dropdown1">ADMINISTRATION</a></li>

              {% elseif app.request.get('_route') == 'article_new' %}
              <li class="col s6"><a class="dropdown-button activeLien" href="#!" data-activates="dropdown1">ADMINISTRATION</a></li>

              {% elseif app.request.get('_route') == 'article_index' %}
              <li class="col s6"><a class="dropdown-button activeLien" href="#!" data-activates="dropdown1">ADMINISTRATION</a></li>

              {% elseif app.request.get('_route') == 'commentaire_postes' %}
              <li class="col s6"><a class="dropdown-button activeLien" href="#!" data-activates="dropdown1">ADMINISTRATION</a></li>

              {% elseif app.request.get('_route') == 'jaime_postes' %}
              <li class="col s6"><a class="dropdown-button activeLien" href="#!" data-activates="dropdown1">ADMINISTRATION</a></li>

              {% else %}
              <li class="col s6"><a class="dropdown-button" href="#!" data-activates="dropdown1">ADMINISTRATION</a></li>
              {% endif %}

              {% else %}
              <li class="col s6"><a class="dropdown-button" href="#!" data-activates="dropdown1">UTILISATEUR</a></li>
              {% endif %}


              <ul id="dropdown1" class="dropdown-content center-align">

                {% if app.user.imageName == null %}
                <li><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i> profil</a></li>
                {% else %}
                <li><a href="/profile">
                  <div class="chips">
                    <img class="avatarUser"src="{{asset('img/users/')~ app.user.imageName }}">
                    <br>
                    {{ app.user.username }}
                  </div>
                </a>
              </li>
              {% endif %}
              {% if is_granted('ROLE_ADMIN') %}
              <li><a href="/article">Mes articles</a></li>
              {% endif %}
              <li><a href="/commentaire">Commentaires</a></li>
              {% if is_granted('ROLE_ADMIN') %}
              <li><a href="/Manage">Gestion</a></li>
              {% endif %}

              <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
            </ul>

            {% else %}


            {% if app.request.get('_route') == 'fos_user_security_login' %}
            <li class="col s6"><a href="/login" class="activeLien">CONNEXION</a></li>
            {% elseif app.request.get('_route') == 'fos_user_registration_register' %}
            <li class="col s6"><a href="/login" class="activeLien">CONNEXION</a></li>
            {% else %}
            <li class="col s6"><a href="/login">CONNEXION</a></li>
            {% endif %}
            {% endif %}
            {% endblock lienMenuNavigation %}
          </ul>
        </nav>
      </div>
    </header>
    <!-- Titre -->
  </div>

  <div class="row">
    <div class="logo col s12 center-align">
      <a href="{{path('accueil')}}" class="brand-logo center"><img src="{{asset('img/logo_Digital.png')}}" alt=""></a>
      <hr>
      <h5>En route vers la culture du numérique  de l'Océan Indien</h5>
    </div>
  </div>
</div>
{% endblock header %}
<!--fin  Titre -->
<!-- fin header -->

{% block body %}{% endblock %}
{% block fos_user_content %}{% endblock %}
<a href="#returnTop"><i class="material-icons icon-return-top">keyboard_arrow_up</i></a>
<!-- footer -->
{% block footer %}
<div class="container">
  <div class="row">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <p class="center-align">
              MADE WITH <i class="material-icons" style="color:red; position:relative;top:6px;">favorite</i> BY SIMPLON.CO
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
{% endblock %}
<!-- fin footer -->

<!-- script -->
{% block javascripts %}
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="{{asset('materialize/js/bin/materialize.min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/main.js')}}"></script>
<script type="text/javascript">
$(".button-collapse").sideNav();
$("select").material_select();
$('.chips').material_chip();
</script>
{% endblock %}
<!-- fin script -->

</body>
</html>
