<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Digital OI{% endblock %}</title>
  {% block stylesheets %}
  <link rel="stylesheet" href="{{asset('font-awesome/css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{asset('css/main.css')}}">
  <link rel="stylesheet" href="{{asset('https://fonts.googleapis.com/icon?family=Material+Icons')}}">
  {% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

  <!-- DEBUT PRELOADER -->
  <div id="page-loader">
    <span class="page-loader-gif"></span>
  </div>
  <!-- FIN PRELOADER -->

  {% block header %}
  <!-- <div id="logo">
    <div class="container">
      <div class="row">
        <div class="col s12 center-align">
          <a href="#!" class="brand-logo center"><img src="img/logo_Digital.png" alt=""></a>
        </div>
      </div>
    </div>
  </div> -->

  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul class="hide-on-med-and-down center-align navCenter">
              <li><a href="/">ACCUEIL</a></li>
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1">ADMINISTRATION</a></li>
              <ul id="dropdown1" class="dropdown-content">
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="/article">Mes articles</a></li>
                {% endif %}
                {% if app.user.imageName == null %}
                <li><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i> profil</a></li>
                {% else %}
                <li><a href="/profile"><img src="img/users/{{ app.user.imageName }}"> {{ app.user.username }}</a></li>
                {% endif %}
                  {% if is_granted('ROLE_ADMIN') %}
                <li><a href="/commentaire">Commentaires</a></li>
                  {% endif %}
                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
              </ul>

              {% else %}
              <li><a href="/login">CONNEXION</a></li>
              {% endif %}
            </ul>

            <ul class="side-nav" id="mobile-demo">
              <li><a href="/">Accueil</a></li>
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <li><a href="/profile"><!--<i class="fa fa-user" aria-hidden="true"></i>--> <img src="img/users/{{ app.user.imageName }}"> {{ app.user.username }}</a></li>
              <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</a></li>
              {% else %}
              <li><a href="/login">Connexion</a></li>
              <li><a href="/register">S'inscrire</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>

  </header>

{% endblock header %}



{% block body %}{% endblock %}
{% block fos_user_content %}{% endblock %}


{% block footer %}

<footer>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <p class="center-align">
          MADE WITH LOVE BY SIMPLON.CO
        </p>
      </div>
    </div>
  </div>
</footer>

{% endblock %}

{% block javascripts %}
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="{{asset('materialize/js/bin/materialize.min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/main.js')}}"></script>

<script type="text/javascript">
$(".button-collapse").sideNav();
$("select").material_select();
</script>

{% endblock %}
</body>
</html>
