{% trans_default_domain 'FOSUserBundle' %}
<section id="formulaire">

  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2">

        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

        <div class="row">
          <div class="input-field col s12">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr':{'class':'validate'}}) }}
            {{ form_errors(form.email) }}
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            {{ form_label(form.username) }}
            {{ form_widget(form.username, {'attr':{'class':'validate'}}) }}
            {{ form_errors(form.username) }}
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, {'attr':{'class':'validate'}}) }}
            {{ form_errors(form.plainPassword.first) }}
          </div>

          <div class="input-field col s6">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, {'attr':{'class':'validate'}}) }}
            {{ form_errors(form.plainPassword.second) }}
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom, {'attr':{'class':'validate'}}) }}
            {{ form_errors(form.nom) }}
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            {{ form_label(form.prenom) }}
            {{ form_widget(form.prenom, {'attr':{'class':'validate'}}) }}
            {{ form_errors(form.prenom) }}
          </div>
        </div>





        <div class="file-field input-field col s12 m8 offset-m2 l6 offset-l3">
                  <div class="btn-floating btn-large waves-effect waves-light tooltipped" type="submit" data-position="bottom" data-delay="50" data-tooltip="Avatar" style="width:45px !important">
                    <i class="material-icons" style="top:-4px !important; position: relative;">perm_identity</i>
                   {{ form_widget(form.imageFile) }}
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
                <br>
                <div class="row center-align" style="margin-top:100px;">
                  <input type="submit" class="btn btn-success" value="   INSCRIPTION  "/>
                </div>
                        {{ form_end(form) }}
      </div>
    </div>
  </div>
</section>
