{% extends "base.html.twig" %}

{% block body %}
<div class="">

<div class="row">
  {% for article in articles %}
  <div class="col s4">
    <div class="card">
      <div class="card-image">

        <img src="img/articles/{{ article.imageName }}">

        <span class="card-title">{{ article.titre }}</span>
      </div>
      <div class="card-content">
        <p>{{ article.description | truncate(150, true, '...') }}</p>
      </div>
      <div class="card-action">
        <a href="{{ path('article_show', { 'id': article.id }) }}">Lire la suite</a>

          {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('article_edit', { 'id': article.id }) }}">Editer</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

</div>

{% endblock %}
