{% extends "base.html.twig" %}

{% block body %}
<div class="container">

<div class="row">
  {% for article in articles|reverse %}
  <div class="col s6">
    <a href="{{ path('article_show', { 'id': article.id }) }}">
    <div class="card z-depth-1  hoverable ">
      <div class="card-image ">

        <img src="{{ asset('img/articles/')~  article.imageName }}">

        <span class="card-title">{{ article.titre }}</span>
      </div>
      <div class="card-content">
        <p>{{ article.description | truncate(150, true, '...') }}</p>
      </div>
      {% if is_granted('ROLE_ADMIN') %}
      <div class="card-action">
        <!-- <a href="{{ path('article_show', { 'id': article.id }) }}">Lire la suite</a> -->

        <a href="{{ path('article_edit', { 'id': article.id }) }}">Editer</a>
      </div>
      {% endif %}
    </div>
    </a>
  </div>
  {% endfor %}
   <a class=" tout waves-effect waves-dark btn-large btn col s12 ">TOUS LES ARTICLES</a>
</div>

</div>

{% endblock %}
