{% extends "::base.html.twig" %}


{% block body %}

<section id="formulaire">

  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2">

        {{form_start(edit_form)}}

        <div class="row">
          <div class="input-field col s12">
            {{form_widget(edit_form.username)}}
            <label class="active" for="username">Nom d'utilisateur</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            {{form_widget(edit_form.email)}}
            <label class="active" for="username">Adresse email</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            {{form_widget(edit_form.roles, {'attr':{'class':'editRoles'}}) }}
            <label class="active" for="username">Roles</label>
          </div>
        </div>

        <div class="row" style="text-align:center; margin-top:70px;">
          <button class="btn-floating btn-large waves-effect waves-light tooltipped" type="submit" data-position="bottom" data-delay="50" data-tooltip="Enregistrer">
            <i class="material-icons right">save</i>
          </button>
        </div>

        {{form_end(edit_form)}}

      </div>
    </div>
  </div>
</section>

{% endblock %}
