{% extends 'base.html.twig' %}

{% block body %}
<h1>Mes articles</h1>

<table>
  <thead>
    <tr>
      <th>Articles</th>
      <th>Publié</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for article in articles %}
    <tr>
      <td><img src="img/articles/{{ article.imageName }}">  {{ article.titre }}</td>
      <td>{{ article.disponibilite }}</td>
      <td><a href="{{ path('article_edit', { 'id': article.id }) }}">Editer</a></td>
      <td>
      
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<ul>
  <li>
    <a href="{{ path('article_new') }}">Nouvel article</a>
  </li>
</ul>
{% endblock %}
