{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col s12">
Posté par : {{ article.user.username }} le {{article.date|date('Y-m-d H:i:s')}}

      <div class="row">
        <div class="col s12 m7">
          <div class="cards card large center-align">
            <div class="card-image">
                   <img src="{{ asset('img/articles/')~  article.imageName }}">
              <span class="card-title">      <h1 class="center-align">{{ article.titre }}</h1></span>
            </div>
            <div class="card-content">
                <textarea id="textarea1" class="materialize-textarea" length="500000000000">     {{ article.description   }}</textarea>
          </div>
        </div>
      </div>


      <div id="fb-root"></div>

<div class="fb-like" data-href="https://digital-oi.simplonreunion.co" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>








<!-- //script  -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- fin script -->
      <br>

      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

      {{ form_start(form) }}
      {{ form_widget(form) }}
      <input type="submit" value="Create" />
      {{ form_end(form) }}

    {% endif %}

    <br><br><br><br>


    <table>
      <thead>
        <tr>
          <!-- <th>Id</th> -->
          <th>Utilisateur</th>
          <th>Commentaire</th>
          <th>Date</th>
          <!-- <th>Actions</th> -->
        </tr>
      </thead>
      <tbody>
        {% for commentaire in commentaires %}
        <tr>
          <!-- <td><a href="{{ path('commentaire_show', { 'id': commentaire.id }) }}">{{ commentaire.id }}</a></td> -->

        <td>{{ commentaire.user.username }}</td>

        <td>{{ commentaire.commentaire }}</td>
        <td>{% if commentaire.date %}{{ commentaire.date|date('Y-m-d H:i:s') }}{% endif %}</td>
        <!-- <td>
        <ul>
        <li>
        <a href="{{ path('commentaire_show', { 'id': commentaire.id }) }}">show</a>
      </li>
      <li>
      <a href="{{ path('commentaire_edit', { 'id': commentaire.id }) }}">edit</a>
    </li>
  </ul>
</td> -->
</tr>
{% endfor %}
</tbody>
</table>

<br><br><br><br>




{% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('article_edit', { 'id': article.id }) }}">Editer</a>

{{ form_start(delete_form) }}
<input type="submit" value="Delete">
{{ form_end(delete_form) }}
{% endif %}
</div>
</div>
</div>
<!-- <h1>Article</h1>

<table>
<tbody>
<tr>
<th>Id</th>
<td>{#{ article.id }#}</td>
</tr>
<tr>
<th>Titre</th>
<td>{#{ article.titre }#}</td>
</tr>
<tr>
<th>Description</th>
<td>{#{ article.description }#}</td>
</tr>
</tbody>
</table>

<ul>
<li>
<a href="{#{ path('article_index') }#}">Back to the list</a>
</li>
<li>
<a href="{#{ path('article_edit', { 'id': article.id }) }#}">Edit</a>
</li>
<li>
{#{ form_start(delete_form) }#}
<input type="submit" value="Delete">
{#{ form_end(delete_form) }#}
</li>
</ul> -->
{% endblock %}
