{% extends 'base.html.twig' %}

{% block metaFacebook %}
<meta property="og:url"           content="http://digital-oi.simplonreunion.co/article/{{article.id}}" />
<meta property="og:type"          content="article" />
<meta property="og:title"         content="{{ article.titre }}" />
<meta property="og:description"   content="{{ article.description }}" />
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta property="og:image" content="http://digital-oi.simplonreunion.co{{ asset('img/articles/')~  article.imageName }}" />
<meta property="og:site_name" content="Digital OI" />
<meta property="og:locale" content="fr_FR" />
{% endblock %}

{% block title %}Digital OI - {{ article.titre }}{% endblock %}

{% block lienMenuNavigation %}

<li class="col s4"><a href="/" class="hide-on-small-only">ACCUEIL</a></li>
<li class="col s4"><a href="/" class="hide-on-med-and-up"><i class="large material-icons">home</i></a></li>

<li class="col s4"><a href="#!" class="activeLien hide-on-small-only">ARTICLE</a></li>
<li class="col s4"><a href="#!" class="activeLien hide-on-med-and-up"><i class="material-icons">description</i></a></li>


{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
{% if is_granted('ROLE_ADMIN') %}
<li class="col s4"><a class="dropdown-button hide-on-small-only" href="#!" data-activates="dropdown1">ADMINISTRATION</a></li>
<li class="col s4"><a class="dropdown-button hide-on-med-and-up" href="#!" data-activates="dropdown1"><i class="material-icons">account_box</i></a></li>
{% else %}
<li class="col s4"><a class="dropdown-button hide-on-small-only" href="#!" data-activates="dropdown1">UTILISATEUR</a></li>
<li class="col s4"><a class="dropdown-button hide-on-med-and-up" href="#!" data-activates="dropdown1"><i class="material-icons">account_box</i></a></li>
{% endif %}

<ul id="dropdown1" class="dropdown-content">
  {% if app.user.imageName == null %}
  <li><a href="/profile">
    <div class="chips">
      <img class="avatarUser"src="{{asset('img/user_icon_default_digital_OI.jpg')}}">
      <br>
      {{ app.user.username }}
    </div>
  </a>
</li>
{% else %}
<li><a href="/profile">
  <div class="chips">
    <img class="avatarUser"src="{{asset('img/users/')~ app.user.imageName }}">
    <br>
    {{ app.user.username }}
  </div>
</a>
</li>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
<li><a href="/article">Mes articles</a></li>
{% endif %}
<li><a href="/commentaire">Commentaires</a></li>
{% if is_granted('ROLE_ADMIN') %}
<li><a href="/Manage">Gestion</a></li>
{% endif %}

<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
</ul>

{% else %}
<li class="col s4"><a href="/login" class="hide-on-small-only">CONNEXION</a></li>
<li class="col s4"><a href="/login" class="hide-on-med-and-up"><i class="material-icons">input</i></a></li>
{% endif %}
{% endblock lienMenuNavigation %}


{% block body %}
<div class="container">
  <div class="row">
    <div class="col s12">
      Posté par : <span style="font-weight:bold">{{  article.user.username  }}</span>  le
      {{ article.date|date('d/m') }} à {{article.date|date('H\\h\i')}}
      <!-- article_image/article_titre -->
      <div class="row">
        <div class="col s12 ">
          <div class=" card large center-align">
            <div class="card-image">
              <img class="image_article"
              src="{{ asset('img/articles/')~  article.imageName }}">
              <span class="card-title">
                <h3 class="titres center-align">{{ article.titre }}</h3>
              </span>
            </div>
            <!-- fin article_image/article_titre -->
            <!-- article_j'aime/article_nbr_commentaire -->
            <div class="center-align" style="margin-top:20px;">
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <a style="color:red" href="{{ path('article_like_new',{'id':article.id}) }}"><i class="material-icons" style="color:red; position:relative;top:6px;">favorite</i>{{ article.like|length }} j'aime</a>
              {% else %}
              <span style="color:red"><i class="material-icons" style="color:red; position:relative;top:6px;">favorite</i>{{ article.like|length }} j'aime</span>
              {% endif %}
              {% for commentaire in commentaires %}
              {% if loop.first %}
              <a href="#postcommentaire" style="margin:auto 20px; color: #000;">
                <i class="material-icons" style="position:relative; top:6px;">comment</i>
                {{ commentaires|length }} commentaires</a>
                {% endif %}
                {% endfor %}
              </div>
              <!-- fin article_j'aime/article_nbr_commentaire -->
              <!-- article_contenu -->
              <div class="content cards ">
                <p class="texte_article">
                  {{ article.description   }}
                </p>
              </div>
              <!-- fin article_contenu -->
            </div>
          </div>
        </div>
        <!-- fin article show -->

        <div class="container" style="margin-bottom:100px;">
          <div class="row">
            <div class="col s12 center-align">

              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <a style="color:red" href="{{ path('article_like_new',{'id':article.id}) }}"><i class="material-icons" style="color:red; position:relative;top:6px;">favorite</i>{{ article.like|length }} j'aime</a>
              {% else %}
              <span style="color:red"><i class="material-icons" style="color:red; position:relative;top:6px;">favorite</i>{{ article.like|length }} j'aime</span>
              {% endif %}


              <span style="position:relative; top:5px !important; margin:auto 20px;">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="AshvinPainiaye">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </span>

              <!-- partage facebook -->
              <div style="position:relative; bottom:1px !important;" class="fb-share-button" data-href="http://digital-oi.simplonreunion.co/article/{{article.id}}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Partager</a>
              </div>
              <div id="fb-root"></div>
              <!--       fin partage facebook -->

            </div>
          </div>
        </div>


        <!--     commentaire envoie -->
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ form_start(form) }}
        <div class="container" id="postcommentaire">
          <div class="row">
            <div class="col s12 input-field">

              {% if app.user.imageName == null %}
              <img src="{{asset('img/user_icon_default_digital_OI.jpg')}}" style="-webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px; width:50px; height:50px; position:absolute; left:-60px" class="hide-on-small-only">
              {% else %}
              <img src="{{asset('img/users/')~ app.user.imageName }}" style="-webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px; width:50px; height:50px; position:absolute; left:-60px" class="hide-on-small-only">
              {% endif %}

              {{ form_label(form.commentaire) }}
              {{ form_widget(form.commentaire,{'attr':{'class':'materialize-textarea'}}) }}
            </div>
          </div>

          <div class="row">
            <div class="col s12 center-align">
              <input  class="waves-effect waves-light btn"type="submit"  value="Commenter" style="margin-bottom:80px">
            </div>
          </div>

        </div>
        {{ form_end(form) }}
        {% endif %}

        <!--    FIN  commentaire envoie -->
        <!--     commentaire show -->
        {% for commentaire in commentaires|reverse %}
        <ul class="collection" style="padding:12px 0;">
          <li class="collection-item avatar">
            {% if commentaire.user.imageName == null %}
            <img src="{{asset('img/user_icon_default_digital_OI.jpg')}}" class="circle">
            {% else %}
            <img class="circle" src="{{ asset('img/users/')~ commentaire.user.imageName }}">
            {% endif %}
            <div class="col m9 s12">
              <h6>{{ commentaire.user.username }}</h6>
              <p style="margin-bottom:10px;">
                {{ commentaire.commentaire }}
              </p>
            </div>
            <div class="col m3 s12">
              {% if commentaire.date %}
              <p class="date" style="text-align:justify">
                Le {{ commentaire.date|date('d/m') }} à {{commentaire.date|date('H\\h\i')}}
                <br>
                {% endif %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% if commentaire.user.id == app.user.id %}
                <a href="{{ path('commentaire_edit' , {'id': commentaire.id }) }}"><i class="material-icons">mode_edit</i> Editer<a>
                  {% endif %}
                  {% endif %}
                  <br>

                  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                  <a style="color:red"
                  href="{{ path('commentaire_like_new',
                  {'article':article.id, 'commentaire':commentaire.id}) }}">
                  <i class="material-icons  " style="color:red; position:relative;top:6px;">favorite</i>
                  {{ commentaire.like|length }} j'aime</a>
                  {% else %}

                  <span style="color:red">
                    <i class="material-icons  " style="color:red; position:relative;top:6px;">favorite</i>
                    {{ commentaire.like|length }} j'aime</span>
                    {% endif %}


                  </p>
                </div>
              </li>
            </ul>
            {% endfor %}

          </div>
        </div>
      </div>
      {% endblock %}

      {% block fos_user_content %}{% endblock %}



      {% block javascripts %}
      <!-- script -->
      <script src="//code.jquery.com/jquery.min.js"></script>
      <script src="{{asset('materialize/js/bin/materialize.min.js')}}"></script>
      <script type="text/javascript" src="{{asset('js/main.js')}}"></script>
      <script type="text/javascript">
      $(".button-collapse").sideNav();
      $("select").material_select();
      </script>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.7";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      </script>

      <!-- fin script -->
      {% endblock %}
