{% extends 'base.html.twig' %}

{% block metaFacebook %}
<meta property="og:url"           content="http://digital-oi.simplonreunion.co/article/{{article.id}}" />
<meta property="og:type"          content="article" />
<meta property="og:title"         content="{{ article.titre }}" />
<meta property="og:description"   content="{{ article.description }}" />
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta property="og:image" content="http://digital-oi.simplonreunion.co{{ asset('img/articles/')~  article.imageName }}" />
<meta property="og:site_name" content="Digital OI" />
<meta property="og:locale" content="fr_FR" />
{% endblock %}


{% block lienMenuNavigation %}
<li class="col s4"><a href="/">ACCUEIL</a></li>
<li class="col s4"><a href="#!" class="activeLien">ARTICLE</a></li>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<li class="col s4"><a class="dropdown-button" href="#!" data-activates="dropdown1">ADMINISTRATION</a></li>

<ul id="dropdown1" class="dropdown-content">
  {% if app.user.imageName == null %}
  <li><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i> profil</a></li>
  {% else %}
  <div class="chips">
    <li><a href="/profile">
      <img class="avatar"src="{{asset('img/users/')~ app.user.imageName }}">
      {{ app.user.username }}
    </a>
  </li>
</div>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
<li><a href="/article">Mes articles</a></li>
{% endif %}
<li><a href="/commentaire">Commentaires</a></li>
{% if is_granted('ROLE_ADMIN') %}
<li><a href="/Manage">Gestion</a></li>
{% endif %}

<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
</ul>

{% else %}
<li><a href="/login">CONNEXION</a></li>
{% endif %}
{% endblock lienMenuNavigation %}


{% block body %}
<div class="container">
  <div class="row">
    <div class="col s12">
      Posté par : <span style="font-weight:bold">{{  article.user.username  }}</span>  le
      {{ article.date| localizeddate('full', 'none') }} à {{article.date|date('H:i:s')}}
      <!-- article_image/article_titre -->
      <div class="row">
        <div class="col s12 ">
          <div class=" card large center-align">
            <div class="card-image">
              <img class="image_article"
              src="{{ asset('img/articles/')~  article.imageName }}">
              <span class="card-title">
                <h5 class=" titres center-align">{{ article.titre }}</h5>
              </span>
            </div>
            <!-- fin article_image/article_titre -->
            <!-- article_j'aime/article_nbr_commentaire -->
            <div class="chips center-align">
              <a href="{{ path('article_like_new',{'id':article.id}) }}"><i class="material-icons">favorite</i>{{ article.like|length }} j'aime</a>
              {% for commentaire in commentaires %}
              {% if loop.first %}
              <i class="material-icons">comment</i>
              {{ commentaires|length }} commentaires
              {% endif %}
              {% endfor %}
            </div>
            <!-- fin article_j'aime/article_nbr_commentaire -->
            <!-- article_contenu -->
            <div class="content cards ">
              <p class="texte_article">
                {{ article.description   }}
              </p>
            </div>
            <!-- fin article_contenu -->
          </div>
        </div>
      </div>
      <!-- fin article show -->
      <!-- partage facebook -->
      <div class="fb-share-button" data-href="http://digital-oi.simplonreunion.co/article/{{article.id}}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Partager</a>
      </div>
      <div id="fb-root"></div>
      <!--       fin partage facebook -->
      <br>

      <!--     commentaire envoie -->
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      {{ form_start(form) }}
      {{ form_widget(form) }}
      <input  class="waves-effect waves-light btn"type="submit"  value="Publier" style="margin-bottom:20px">
      {{ form_end(form) }}
      {% endif %}
      <!--    FIN  commentaire envoie -->
      <!--     commentaire show -->
      {% for commentaire in commentaires|reverse %}
      <div class="col s12 "><!-- col s12 m8 offset-m2 l6 offset-l3 -->
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <!--       avatar_user_commentaire -->
            <div class="col s2">
              <img  class="image"
              src="{{ asset('img/users/')~ commentaire.user.imageName }}" >
            </div>
            <!--       fin avatar_user_commentaire -->
            <!--       commentaire_user_username / commentaire_user -->
            <div class="col s7">
              <h6>{{ commentaire.user.username }}</h6>
              <p class="black-text">
                {{ commentaire.commentaire }}

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% if commentaire.user.id == app.user.id %}
                <a href="{{ path('commentaire_edit' , {'id': commentaire.id }) }}"><i class="material-icons">mode_edit</i><a>
                  {% endif %}
                  {% endif %}

                </p>
              </div>
              <!--      fin  commentaire_user_username / commentaire_user -->
              <!--       j'aime_user_username / date_heure_commentaire_user -->
              <div class=" col s4 jaime">
                {% if commentaire.date %}
                <p class="heure ">
                  {{ commentaire.date| localizeddate('full', 'none') }} à {{commentaire.date|date('H:i:s')}}
                  <br>
                </p >
                {% endif %}
                <a style="color:red"
                href="{{ path('commentaire_like_new',
                {'article':article.id, 'commentaire':commentaire.id}) }}">
                <i class="material-icons  " style="color:red">favorite</i>
                {{ commentaire.like|length }} j'aime</a>
              </div>
            </div>
            <!--       j'aime_user_username / date_commentaire_user -->
            <!--      modifier_commentaire / supprimer_commentaire -->

            <!--   fin  modifier_commentaire / supprimer_commentaire -->
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
{% endblock %}

{% block fos_user_content %}{% endblock %}



{% block javascripts %}
<!-- script -->
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="{{asset('materialize/js/bin/materialize.min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/main.js')}}"></script>
<script type="text/javascript">
$(".button-collapse").sideNav();
$("select").material_select();
</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<!-- fin script -->
{% endblock %}
