<!DOCTYPE html>
<html>
<head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}Digital OI{% endblock %}</title>
      {% block stylesheets %}
      <link rel="stylesheet" href="{{asset('font-awesome/css/font-awesome.min.css')}}">
      <link rel="stylesheet" href="{{asset('css/main.css')}}">
      <link rel="stylesheet" href="{{asset('https://fonts.googleapis.com/icon?family=Material+Icons')}}">
      {% endblock %}
      <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<!-- body -->
<body>

      <!-- DEBUT PRELOADER -->
      <div id="page-loader">
            <span class="page-loader-gif"></span>
      </div>
      <!-- FIN PRELOADER -->

      <!-- header -->
      {% block header %}
      <div class="container">
            <div class="row">
                  <header>
                        <div >
                              <nav class="navbar-fixed">

                                    <div class="nav-wrapper">
                                          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

                                          <ul class="hide-on-med-and-down center-align navCenter ">
                                                <li class="col s5"><a href="/" >ACCUEIL</a></li>
                                                <li class="col s2"><a href="#" class="active">ARTICLES</a></li>
                                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                <li class="col s5"><a class="dropdown-button" href="#!" data-activates="dropdown1">ADMINISTRATION</a></li>
                                                <ul id="dropdown1" class="dropdown-content">
                                                      {% if is_granted('ROLE_ADMIN') %}
                                                      <li><a href="/article">Mes articles</a></li>
                                                      {% endif %}
                                                      {% if app.user.imageName == null %}
                                                      <li><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i> profil</a></li>
                                                      {% else %}
                                                      <div class="chips">
                                                            <li><a href="/profile">
                                                                  <img class="avatar"src="{{asset('img/users/')~ app.user.imageName }}">
                                                                  {{ app.user.username }}
                                                            </a>
                                                      </li>
                                                </div>
                                                {% endif %}
                                                {% if is_granted('ROLE_ADMIN') %}
                                                <li><a href="/commentaire">Commentaires</a></li>
                                                {% endif %}
                                                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                                          </ul>

                                          {% else %}
                                          <li><a href="/login">CONNEXION</a></li>
                                          {% endif %}
                                    </ul>

                                    <ul class="side-nav" id="mobile-demo">
                                          <li><a href="/">Accueil</a></li>
                                          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                          <li><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i> <img src="img/users/{{ app.user.imageName }}"> {{ app.user.username }}</a></li>
                                          <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</a></li>
                                          {% else %}
                                          <li><a href="/login">Connexion</a></li>
                                          <li><a href="/register">S'inscrire</a></li>
                                          {% endif %}
                                    </ul>
                              </div>

                        </nav>
                  </div>
            </header>
            <!-- Titre -->
            <div class="row">
                  <div class="logo col s12 center-align">
                        <a href="#!" class="brand-logo center"><img src="{{asset('img/logo_Digital.png')}}" alt=""></a>
                  </div>
                  <hr>
                  <h5 class=" center-align"> En route vers la culture du numérique  de l'Océan Indien</h5>
            </div>
      </div>
</div>
{% endblock header %}
<!--fin  Titre -->
<!-- fin header -->
<!-- article show -->
{% block body %}
<div class="container">
      <div class="row">
            <div class="col s12">
                  Posté par : <span style="font-weight:bold">{{  article.user.username  }}</span>  le
                  {{ article.date| localizeddate('full', 'none') }} à {{article.date|date('H:i:s')}}
                  <!-- article_image/article_titre -->
                  <div class="row">
                        <div class="col s12 ">
                              <div class=" card large center-align">
                                    <div class="card-image">
                                          <img class="image_article"
                                          src="{{ asset('img/articles/')~  article.imageName }}">
                                          <span class="card-title">
                                                <h5 class=" titres center-align">{{ article.titre }}</h5>
                                          </span>
                                    </div>
                                    <!-- fin article_image/article_titre -->
                                    <!-- article_j'aime/article_nbr_commentaire -->
                                    <div class="chips center-align">
                                          <a href="{{ path('article_like_new',{'id':article.id}) }}"><i class="material-icons">favorite</i>{{ article.like|length }} j'aime</a>
                                          {% for commentaire in commentaires %}
                                          {% if loop.first %}
                                          <i class="material-icons">comment</i>
                                          {{ commentaires|length }} commentaires
                                          {% endif %}
                                          {% endfor %}
                                    </div>
                                    <!-- fin article_j'aime/article_nbr_commentaire -->
                                    <!-- article_contenu -->
                                    <div class="content cards ">
                                          <p class="texte_article">
                                                {{ article.description   }}
                                          </p>
                                    </div>
                                    <!-- fin article_contenu -->
                              </div>
                        </div>
                  </div>
                  <!-- fin article show -->
                  <!-- partage facebook -->
                  <div class="fb-share-button" data-href="http://digital-oi.simplonreunion.co/article/{{article.id}}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Partager</a>
                  </div>
                  <div id="fb-root"></div>
                  <!--       fin partage facebook -->
                  <br>

                  <!--     commentaire envoie -->
                  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                  {{ form_start(form) }}
                  {{ form_widget(form) }}
                  <input  class="waves-effect waves-light btn"type="submit"  value="Publier" style="margin-bottom:20px">
                  {{ form_end(form) }}
                  {% endif %}
                  <!--    FIN  commentaire envoie -->
                  <!--     commentaire show -->
                  {% for commentaire in commentaires %}
                  <div class="col s12 "><!-- col s12 m8 offset-m2 l6 offset-l3 -->
                        <div class="card-panel grey lighten-5 z-depth-1">
                              <div class="row valign-wrapper">
                                    <!--       avatar_user_commentaire -->
                                    <div class="col s2">
                                          <img  class="image"
                                          src="{{ asset('img/users/')~ commentaire.user.imageName }}" >
                                    </div>
                                    <!--       fin avatar_user_commentaire -->
                                    <!--       commentaire_user_username / commentaire_user -->
                                    <div class="col s7">
                                          <h6>{{ commentaire.user.username }}</h6>
                                          <p class="black-text">
                                                {{ commentaire.commentaire }}
                                          </p>
                                    </div>
                                    <!--      fin  commentaire_user_username / commentaire_user -->
                                    <!--       j'aime_user_username / date_heure_commentaire_user -->
                                    <div class=" col s4 jaime">
                                          {% if commentaire.date %}
                                          <p class="heure ">
                                                {{ commentaire.date| localizeddate('full', 'none') }} à {{commentaire.date|date('H:i:s')}}
                                                <br>
                                          </p >
                                          {% endif %}
                                          <a style="color:red"
                                          href="{{ path('commentaire_like_new',
                                          {'article':article.id, 'commentaire':commentaire.id}) }}">
                                          <i class="material-icons  " style="color:red">favorite</i>
                                          {{ commentaire.like|length }} j'aime</a>
                                    </div>
                              </div>
                              <!--       j'aime_user_username / date_commentaire_user -->
                              <!--      modifier_commentaire / supprimer_commentaire -->
                              {% if is_granted('ROLE_ADMIN') %}
                              <a href="{{ path('article_edit', { 'id': article.id }) }}">Editer</a>         {{ form_start(delete_form) }}
                              <input type="submit" value="Delete">
                              {{ form_end(delete_form) }}
                              {% endif %}
                              <!--   fin  modifier_commentaire / supprimer_commentaire -->
                        </div>
                  </div>
                  {% endfor %}

            </div>
      </div>
</div>
<!--     fin commentaire show -->

<!-- <h1>Article</h1>

<table>
<tbody>
<tr>
<th>Id</th>
<td>{#{ article.id }#}</td>
</tr>
<tr>
<th>Titre</th>
<td>{#{ article.titre }#}</td>
</tr>
<tr>
<th>Description</th>
<td>{#{ article.description }#}</td>
</tr>
</tbody>
</table>

<ul>
<li>
<a href="{#{ path('article_index') }#}">Back to the list</a>
</li>
<li>
<a href="{#{ path('article_edit', { 'id': article.id }) }#}">Edit</a>
</li>
<li>
{#{ form_start(delete_form) }#}
<input type="submit" value="Delete">
{#{ form_end(delete_form) }#}
</li>
</ul> -->
{% endblock %}

{% block fos_user_content %}{% endblock %}

<!-- footer -->
{% block footer %}
<div class="container">
      <div class="row">
            <footer>
                  <div class="container">
                        <div class="row">
                              <div class="col s12">
                                    <p class="center-align">
                                          MADE WITH LOVE BY SIMPLON.CO
                                    </p>
                              </div>
                        </div>
                  </div>
            </footer>
      </div>
</div>
{% endblock %}
<!-- fin footer -->

<!-- script -->
{% block javascripts %}
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="{{asset('materialize/js/bin/materialize.min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/main.js')}}"></script>
<script type="text/javascript">
$(".button-collapse").sideNav();
$("select").material_select();
</script>
<script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.7";
      fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

{% endblock %}
<!-- fin script -->
</body>
</html>
